<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>image.CheckAvailability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImageStaff</servlet-name>
        <servlet-class>image.DisplayImageStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImageStaff1</servlet-name>
        <servlet-class>image.DisplayImageStaff1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImageStaff2</servlet-name>
        <servlet-class>image.DisplayImageStaff2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>image.updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>image.uploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayImageStaff</servlet-name>
        <url-pattern>/DisplayImageStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImageStaff1</servlet-name>
        <url-pattern>/DisplayImageStaff1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImageStaff2</servlet-name>
        <url-pattern>/DisplayImageStaff2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/go</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
